.calendar-info {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.bi-chevron-left, .bi-chevron-right {
    font-size: 1.5rem;
    cursor: pointer;
}

.bi-calendar {
    font-size: 1.5rem;
    margin: 0 10px;
}

.new-card-container {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-card {
    width: 100%;
    max-width: 320px;
    margin: 2px 5px;
    height: 70px;
    border-radius: 5px;
}

.new-card-body {
    padding: 16px;
}

.new-card-title {
    font-size: 1.1rem;
    text-align: center;
}

.new-card-text {
    font-size: 1rem;
    text-align: center;
}

/* Specific style for the "Total Students" card */
.new-card-total {
    background-color: rgba(89, 89, 89, 1);
    color: white;
}
