.new-card-container {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: calc(100% - 60px); /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the end (right side) */
}

.new-card {
    width: 100%;
    max-width: 320px;
    margin: 2px 5px; /* Add margin between cards */
    height: 70px; /* Adjust card height */
    margin-left: 79px;
    border-radius: 5px;
}

.new-card-body {
    padding: 16px;
}

.new-card-title {
    font-size: 1.1rem;
    margin-left: 100px;
}

.new-card-text {
    font-size: 1rem;
    margin-left: 124px;
}

/* Specific style for the "Total Students" card */
.new-card-total {
    background-color: rgba(89, 89, 89, 1); /* Updated color for Total Students card */
    color: white;
}
